<header class="main-header">
  <a id="logo" href="index.html">
    <h1>Tonki-Tonk</h1>
    <h2>Mercenaries</h2>
  </a>
  <nav>
    <ul class="menu">
      <li><a ng-class="{ selected : selectedLink(1) }" href="#/company" ng-click="selectLink(1)">Merc Company</a></li>
      <li><a ng-class="{ selected : selectedLink(2) }" href="#/requests" ng-click="selectLink(2)">Requests</a></li>
      <li><a ng-class="{ selected : selectedLink(3) }" href="#/contact" ng-click="selectLink(3)">Contact</a></li>
    </ul>
  </nav>
</header>