<div>

  <section>
    <h3>General Information</h3>
    <p>We are always eager to take on new mercenary jobs, though be warned that our prices are the highest in industry! Why? Because our
    expertise and experience is par to no one. Send your requests and we will give our reply in 3 business days. If you have any questions,
    please don't hesitate to contact our Help desk!</p>
    <p>Please only use satellite phone contact for urgent inquiries. Otherwise, Twitter and email are the best way to reach us!</p>
  </section>
  <section>
    <h3>Contact Details</h3>
    <ul class="contact-info">
      <li class="phone"><a href="tel:555-6425">555-6425</a></li>
      <li class="mail"><a href="mailto:tonkitonk@example.com">tonkitonk@example.com</a></li>
      <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=tonkitonk">@tonkitonk</a></li>
    </ul>
  </section>

</div>