/* app css stylesheet */

a {
  color: #5f9ea0;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2 {
  color: #fff;
}

header {
  background: #5f9ea0;
  border-color: darkcyan;
}

nav {
  background: darkcyan;
}

nav a,
nav a:visited {
  color: white;
}

#logo {
  text-align: center;
  margin: 0;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

.link_selected {
  background: orange;
}