/* app css stylesheet */

.main-header {
  background-color: #5f9ea0;
  color: white;
  text-align: center;

}

.logo {
  font-size: 3em;
  margin: 10px 20px;
}

.main-header ul {
  display: inline-block;
}

.main-header li {
  list-style: none;
  display: inline-block;
}

.main-header a {
  text-decoration: none;
  color: white;
}