

/*****************************************************
GENERAL
*****************************************************/

body {
  font-family: 'Raleway', serif;
}

a {
  text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
}



/*****************************************************
MAIN-HEADER
*****************************************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  margin: 15px 0;
}

h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin: -5px 0 0;
}



/*****************************************************
NAVIGATION
*****************************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}



/*****************************************************
MAIN-FOOTER
*****************************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}



/*****************************************************
PAGE: THE COMPANY
*****************************************************/

h3 {
  text-align: center;
  clear: both;
}

#merc_company {
  margin: 0;
  padding: 0;
}

#merc_company ul {
  list-style: none;
}

.merc_pane {
  float: left;
  width: 45%;
  min-height: 400px;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7
}

.merc_pane img {
  margin: auto;
  display: block;
}

.merc_name,
.merc_spec {
  display: inline-block;
}

.merc_pane .merc_spec {
  float: right;
}

.merc_panels,
.merc_details ul {
  padding-left: 0;
}

.merc_panels li {
  display: inline-block;
}

.merc_panels li:first-child {
  padding-right: 10px;
  border-right: 1px solid #9E9E9E;
}

.merc_panels li:nth-child(2) {
  padding-left: 10px;
  margin-left: -5px;
}

.selected_panel {
  color: black;
}

.merc_wrapper {
  padding: 5%;
}



/*****************************************************
COLORS
*****************************************************/

body {
  background: #fff;
  color: #999;
}

a {
  color: #5f9ea0;
}

header {
  background: #5f9ea0;
  border-color: darkcyan;
}

h1,
h2 {
  color: #fff;
}

nav {
  background: darkcyan;
}

nav a,
nav a:visited {
  color: white;
}

nav a:hover,
nav a.selected {
  color: #32673f;
}