@media screen and (max-width: 480px) {

  /*****************************************************
  PAGE: MERCS - ONE COLUMN LAYOUT
  *****************************************************/

  .merc_pane {
    width: 90%;
    min-height: 0;
    margin: 5%;
  }

  merc-panels {
    display: none;
  }
}

@media screen and (min-width: 480px) {

  /*****************************************************
  PAGE: CONTACT - TWO COLUMN LAYOUT
  *****************************************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /*****************************************************
  PAGE: ABOUT
  *****************************************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

  .about-page h3{
    clear: none;
  }
}

@media screen and (min-width: 850px) {

  /*****************************************************
  HEADER
  *****************************************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid darkcyan;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 960px) {

  /*****************************************************
  PAGE: MERCS - THREE COLUMN LAYOUT
  *****************************************************/

  .merc_pane {
    width: 28.3333%;
  }

  .merc_pane:nth-child(3) {
    clear: none;
  }

  .merc_pane:nth-child(4) {
    clear: left;
  }
}