<div class="requests-page">

  <h3>Here you can place your requests:</h3>

  <div class="request-categories">
    <ul>
      <li class="category-infiltration"></li>
      <li class="category-assassination"></li>
      <li class="category-gathering"></li>
      <li class="category-revolution"></li>
    </ul>
  </div>
  <div class="request-search">
    <label for="search">Type below to search: </label>
    <input type="search" id="search">
  </div>
  <div>
    <ul>
      <li ng-repeat="request in requests">
        <p>{{request.id}}</p>
      </li>
    </ul>
  </div>
</div>