<div>

  <img class="profile-photo" src="img/chuck.jpg" alt="Photograph of Tonki-Tonk founder">
  <h3>About</h3>
  <p>Hi, boys and girls! I'm that old grizzly veteran you all think is too ancient to put up a fight, but who
  actually turns out to be quite a handful even for the best young pros. And that's not the whole story, I'm
  also running the most experienced, most successful, most efficient and most profitable mercenary company in
  all history of this damn business.</p> 
  <p>So if you need anything done and you reckon a merc or a company of mercs could help you, I
  am just the guy you need to contact. We are expensive, warn you, but we also make the job done.</p>
  <p>If you'd like to follow us on Twitter, our company username is <a href="http://twitter.com/tonkitonk">@tonkitonk</a></p>

  <h3>Here you can place your requests:</h3>

</div>