<div id="merc_company">

  <h3>Tonki-Tonk Mercenary Company</h3>

  <ul>
    <li>
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Chuck Stravinsky">
        <p>Chuck Stravinsky - Demolitions Expert</p>
      </a>
    </li>
    <li>
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Don Jhonovan">
        <p>Don Jhonova - Marksman Instructor</p>
      </a>
    </li>
    <li>
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Jim Odessa">
        <p>Jim Odessa - Infiltration Expert</p>
      </a>
    </li>
    <li>
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Bob Urqhart">
        <p>Bob Urqhart - Heavy Machinery Expert</p>
      </a>
    </li>
    <li>
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Korvin Dallas">
        <p>Korvin Dallas - Rescue Missions Expert</p>
      </a>
    </li>
  </ul>

</div>