<div id="merc_company">

  <h3>Tonki-Tonk Mercenary Company</h3>

  <ul ng-repeat="">
    <li class="merc_pane">
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Chuck Stravinsky">
      </a>
      <p class="merc_name">Chuck Stravinsky</p>
      <p class="merc_spec">Demolitions Expert</p>
      <merc-panels></merc-panels>
    </li>
    <li class="merc_pane">
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Don Jhonovan">
      </a>
      <p class="merc_name">Don Jhonovan</p>
      <p class="merc_spec">Marksman Instructor</p>
      <merc-panels></merc-panels>
    </li>
    <li class="merc_pane">
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Jim Odessa">
      </a>
      <p class="merc_name">Jim Odessa</p>
      <p class="merc_spec">Infiltration Expert</p>
      <merc-panels></merc-panels>
    </li>
    <li class="merc_pane">
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Bob Urqhart">
      </a>
      <p class="merc_name">Bob Urqhart</p>
      <p class="merc_spec">Heavy Machinery Expert</p>
      <merc-panels></merc-panels>
    </li>
    <li class="merc_pane">
      <a href="img/chuck.jpg">
        <img src="img/chuck.jpg" alt="Korvin Dallas">
      </a>
      <p class="merc_name">Korvin Dallas</p>
      <p class="merc_spec">Rescue Missions Expert</p>
      <merc-panels></merc-panels>
    </li>
  </ul>

</div>